#AreaTrabajo{
    margin-left: 8vh;
    margin-right: 8vh;
    margin-top: 10vh;
}
#Registro{
    justify-content: center;
    gap: 1%;
}
#RegistroComun, #TipoRegistro, #RegistroAlumnos{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 0.5rem;
}
input, select{
    width: 90%;
    font-size: 1rem;
    color: gray;
    padding: 0.3rem;
}
.Carreras{
    /*Solo se muestra si está seleccionado alumnos*/
    display: none;
}
h1{
    font-size: 2.5rem;
}
span{
    font-size: 1rem;
}
th{
    width: 25%;
}
/*Celulares*/
/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
    #AreaTrabajo {
        margin: 5vh 3vw;
        padding: 1.5rem;
    }
    #Encabezado img {
        height: 3.5rem;
    }
    #Botones{
        gap: 0.3rem;
    }
    input, button {
        width: 90%;
    }
    h1 {
        font-size: 1.8rem;
    }
    span {
        font-size: 1rem;
    }
    #home{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 6%;
}
}